# npm
node_modules
# next.js build files
.next
# environment variables
.env
.env.*
!.env.example
# Local Netlify folder
.netlify

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions